@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #141414;
  list-style: none;
  text-decoration: none;
  transition: 0.5s;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}

.header-container .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* @include flexSpaceBetween() */
  height: 70px;
  padding: 0px 20px;
  box-shadow: 0px 1px #D9D9D9;
}
.header-container .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.header-container .logo-container .logo-icon {
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  animation: rotate 5s linear infinite;
}
.header-container .logo-container .logo-title {
  font-size: 30px;
  font-weight: 400;
  margin-left: 10px;
}
.header-container .right-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.header-container .right-icons a {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.header-container .right-icons .github-icon {
  width: 30px;
  height: 30px;
}
.header-container .right-icons .github-icon:hover {
  transform: scale(0.9);
}
.header-container .right-icons .hamburguer-icon {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.header-container .nav-list-container {
  display: none;
  font-size: 18px;
  position: relative;
}
.header-container .nav-list-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  height: 50px;
  box-shadow: inset 0px -1px #D9D9D9;
}
.header-container .nav-list-container li:hover {
  background-color: #478AAE;
}
.header-container .nav-list-container li:hover a {
  color: #FFFFFF;
}
.header-container .display-menu {
  display: block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 45px;
}
.main-container .main-page-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-direction: column;
}
.main-container h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
}
.main-container h2 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0px 5px;
}
.main-container button {
  background-color: #478AAE;
  width: 145px;
  height: 45px;
  border-radius: 15px;
  border: none;
  border-bottom: 5px solid #356883;
  margin-top: 30px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}
.main-container button:hover {
  border-bottom: 2px solid #356883;
}
.main-container .main-image {
  width: 90%;
  max-width: 600px;
  margin: 25px 0px 0px 0px;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.137));
}

.nav-options-container {
  display: none;
}

.title-section {
  font-size: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  width: 100%;
  border-bottom: 1px solid #356883;
  font-weight: 400;
}

.services-container {
  background-color: #478AAE;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-wrap: wrap;
}
.services-container .services-types-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services-container .services-types-container .services-image {
  position: absolute;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.26));
}
.services-container .services-types-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-direction: column;
  position: relative;
  margin: 120px 0px 45px 0px;
}
.services-container .services-types-container .plan-type {
  background-color: #FFFFFF;
  height: 190px;
  width: 310px;
  font-size: 32px;
  color: #356883;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  text-align: center;
  border-bottom: 10px solid #356883;
  text-transform: uppercase;
  border-radius: 15px;
  margin: 0px 45px;
}
.services-container .services-types-container .plan-price {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 300;
  margin-top: 15px;
}
.services-container .services-types-container .plan-price span {
  font-size: 21px;
  color: #FFFFFF;
}
.services-container .services-types-container .keyboard-image {
  top: -130px;
  width: 60%;
}
.services-container .services-types-container .microphone-image {
  top: -140px;
  width: 55%;
}
.services-container .services-types-container .mix-image {
  top: -135px;
  width: 55%;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-direction: collumn;
  font-weight: 500;
}
.about-container h3 {
  color: #356883;
}
.about-container .description-stu {
  margin: 0px 60px;
  text-align: center;
  font-size: 26px;
  margin-top: 30px;
}
.about-container .stu {
  font-weight: 900;
  font-style: italic;
  font-size: 28px;
  margin: 0px 5px;
}
.about-container .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.about-container img {
  width: 70%;
  max-width: 400px;
  margin: 30px 0px;
}

.artists-container {
  background-color: #478AAE;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.artists-container img {
  width: 92%;
  border-radius: 25px 25px 50px 50px;
  margin-top: 10px;
}
.artists-container .artist-banner {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  margin: 15px 80px;
  border-bottom: 10px solid #356883;
  border-radius: 25px;
}
.artists-container .artist-banner:hover {
  transform: rotate(3deg) scale(0.97);
}
.artists-container .artist-banner .artist-name {
  color: #356883;
  font-size: 26px;
  text-transform: uppercase;
  padding-top: 10px;
}
.artists-container .artist-banner p {
  color: #356883;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 18px;
}

.stu-contact {
  border-top: 1px solid #356883;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  text-align: center;
  height: 70px;
  background-color: #478AAE;
  color: #FFFFFF;
  font-size: 21px;
}

@media (min-width: 1150px) {
  .logo-container {
    margin-left: 90px;
  }
  .right-icons {
    margin-right: 90px;
  }
  .nav-options-container {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* @include flexCenter() */
    margin-left: auto;
    padding-right: 20px;
  }
  .nav-big-screen {
    padding: 23px 20px;
    font-size: 18px;
    height: 70px;
  }
  .nav-big-screen:hover {
    background-color: #478AAE;
    color: #FFFFFF;
  }
  .main-container {
    height: 650px;
  }
  .main-container .main-page-text {
    margin-right: 200px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .main-container h1 {
    font-size: 81px;
  }
  .main-container h2 {
    font-size: 42px;
  }
  .services-types-container {
    flex-direction: row;
    position: relative;
  }
  .services-types-container .plan-type {
    margin: 0px 15px;
  }
  .about-content {
    height: 530px;
    flex-direction: column;
  }
  .description-stu {
    width: 700px;
  }
  .hamburguer-icon i {
    display: none;
  }
  .artist-banner {
    margin: 90px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
