@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #141414;
  list-style: none;
  text-decoration: none;
  transition: 0.5s;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}

.header-container .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* @include flexSpaceBetween() */
  height: 70px;
  padding: 0px 20px;
  box-shadow: 0px 1px #D9D9D9;
}
.header-container .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.header-container .logo-container .logo-icon {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.header-container .logo-container .logo-title {
  font-size: 30px;
  font-weight: 400;
  margin-left: 10px;
}
.header-container .right-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.header-container .right-icons a {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.header-container .right-icons .github-icon {
  width: 30px;
  height: 30px;
}
.header-container .right-icons .hamburguer-icon {
  font-size: 30px;
}
.header-container .nav-list-container {
  display: none;
  font-size: 18px;
  position: relative;
}
.header-container .nav-list-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  height: 50px;
  box-shadow: inset 0px -1px #D9D9D9;
}
.header-container .nav-list-container li:hover {
  background-color: #478AAE;
}
.header-container .nav-list-container li:hover a {
  color: #FFFFFF;
}
.header-container .display-menu {
  display: block;
}

@media (max-width: 768px) {
  .nav-options-container {
    display: none;
  }
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
  height: 500px;
  margin-bottom: 45px;
}
.main-container .main-page-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-direction: column;
}
.main-container h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
}
.main-container h2 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0px 5px;
}
.main-container button {
  background-color: #478AAE;
  width: 145px;
  height: 45px;
  border-radius: 15px;
  border: none;
  border-bottom: 5px solid #356883;
  margin-top: 30px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}
.main-container button:hover {
  border-bottom: 2px solid #356883;
}
.main-container .main-image {
  width: 90%;
  max-width: 550px;
  margin: 25px 0px 10px 0px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.185));
}

.title-section {
  font-size: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  width: 100%;
  border-bottom: 1px solid #356883;
  font-weight: 400;
}

.services-container {
  background-color: #478AAE;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-wrap: wrap;
}
.services-container .services-types-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services-container .services-types-container .services-image {
  width: 70%;
  position: absolute;
  filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.26));
}
.services-container .services-types-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 45px;
  position: relative;
}
.services-container .services-types-container .plan-type {
  background-color: #FFFFFF;
  height: 190px;
  width: 310px;
  font-size: 32px;
  color: #356883;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  text-align: center;
  border-bottom: 10px solid #356883;
  text-transform: uppercase;
  border-radius: 15px;
}
.services-container .services-types-container .plan-price {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 300;
  margin-top: 15px;
}
.services-container .services-types-container .plan-price span {
  font-size: 21px;
  color: #FFFFFF;
}
.services-container .services-types-container .keyboard-image {
  top: -120px;
}
.services-container .services-types-container .microphone-image {
  top: -125px;
  width: 65%;
}
.services-container .services-types-container .mix-image {
  top: -150px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-direction: collumn;
  font-weight: 500;
}
.about-container h3 {
  color: #356883;
}
.about-container .description-stu {
  margin: 0px 30px;
  text-align: center;
  font-size: 26px;
  margin-top: 60px;
}
.about-container .stu {
  font-weight: 900;
  font-style: italic;
  font-size: 28px;
  margin: 0px 5px;
}
.about-container img {
  width: 70%;
  margin: 60px 0px;
}

.artists-container {
  background-color: #478AAE;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
}
.artists-container img {
  width: 92%;
  border-radius: 10px 10px 50px 50px;
  margin-top: 10px;
}
.artists-container .artist-banner {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  margin: 30px 0px;
  border-bottom: 15px solid #356883;
  border-radius: 15px;
}
.artists-container .artist-banner .artist-name {
  color: #356883;
  font-size: 26px;
  text-transform: uppercase;
  padding-top: 10px;
}
.artists-container .artist-banner p {
  color: #356883;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 18px;
}

.stu-contact {
  border-top: 1px solid #356883;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* @include flexCenter() */
  text-align: center;
  height: 70px;
  background-color: #478AAE;
  color: #FFFFFF;
  font-size: 21px;
}

/*# sourceMappingURL=style.css.map */
