@import "./colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $black;
    list-style: none;
    text-decoration: none;
    transition: 0.5s;
}

@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* @include flexCenter() */
}

@mixin flexSpaceBetween(){
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* @include flexSpaceBetween() */
}


.body {
    @include flexCenter();
}

.header-container {

    .nav-container {
        @include flexSpaceBetween();
        height: 70px;
        padding: 0px 20px;
        box-shadow: 0px 1px $grey;
    }

    .logo-container {
        @include flexCenter();

        .logo-icon {
            font-size: 30px;
            @include flexCenter();
        }

        .logo-title {
            font-size: 30px;
            font-weight: 400;
            margin-left: 10px
        }
    }

    .right-icons {
        @include flexCenter();

        a {
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }

        .github-icon {
            width: 30px;
            height: 30px;
        }

        .hamburguer-icon {
            font-size: 30px;
        }
    }

    .nav-list-container {
        display: none;
        font-size: 18px;
        position: relative;

        li {
            @include flexCenter();
            height: 50px;
            box-shadow: inset 0px -1px $grey;

        &:hover {
            background-color: $primaryColor;
            a {
                color: $white;
            }
        }
        }
    }

    .display-menu {
        display: block;
    } 
}

@media (max-width: 768px) {
    .nav-options-container {
        display: none;
    }
}

.main-container {
    @include flexCenter();
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
    height: 500px;
    margin-bottom: 45px;

    .main-page-text {
        @include flexCenter();
        flex-direction: column;
    }

    h1 {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 700;
    }
    h2 {
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0px 5px;
    }
    button {
        background-color: $primaryColor;
        width: 145px;
        height: 45px;
        border-radius: 15px;
        border: none;
        border-bottom: 5px solid $shadowColor;
        margin-top: 30px;
        color: $white;
        font-weight: 600;
        font-size: 18px;

        &:hover {
            border-bottom: 2px solid $shadowColor;
        }
    }
    .main-image{
        width: 90%;
        max-width: 550px;
        margin: 25px 0px 10px 0px;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.185));
    }
}

.title-section {
    font-size: 28px;
    text-transform: uppercase;
    color: $white;
    height: 70px;
    @include flexCenter();
    width: 100%;
    border-bottom: 1px solid $shadowColor;
    font-weight: 400;
}

.services-container {
    background-color: $primaryColor;
    @include flexCenter();
    flex-wrap: wrap;

    .services-types-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .services-image {
            width: 70%;
            position: absolute;
            filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.26))
        }

        div {
            @include flexCenter();
            flex-direction: column;
            margin-top: 75px;
            margin-bottom: 45px;
            position: relative;
        }

        .plan-type {
            background-color: $white;
            height: 190px;
            width: 310px;
            font-size: 32px;
            color: $shadowColor;
            @include flexCenter();
            text-align: center;
            border-bottom: 10px solid $shadowColor;
            text-transform: uppercase;
            border-radius: 15px;
        }

        .plan-price {
            font-size: 28px;
            color: $white;
            font-weight: 300;
            margin-top: 15px;
            span {
                font-size: 21px;
                color: $white;
            }
        }

        .keyboard-image {
            top: -120px;
        }

        .microphone-image {
            top: -125px;
            width: 65%;
        }

        .mix-image {
            top: -150px;
        }
    }
}

.about-container {
    @include flexCenter;
    flex-direction: collumn;
    font-weight: 500;

    h3 {
        color: $shadowColor;
    }

    .description-stu {
        margin: 0px 30px;
        text-align: center;
        font-size: 26px;
        margin-top: 60px;
    }

    .stu {
        font-weight: 900;
        font-style: italic;
        font-size: 28px;
        margin: 0px 5px;
    }

    img {
        width: 70%;
        margin: 60px 0px;
    }
}

.artists-container {
    background-color: $primaryColor;
    @include flexCenter();

    img {
        width: 92%;
        border-radius: 10px 10px 50px 50px;
        margin-top: 10px;
    }

    .artist-banner {
        background-color: $white;
        @include flexCenter();
        flex-direction: column;
        flex-wrap: wrap;
        width: 250px;
        margin: 30px 0px;
        border-bottom: 15px solid $shadowColor;
        border-radius: 15px;
        
    .artist-name {
        color: $shadowColor;
        font-size: 26px;
        text-transform: uppercase;
        padding-top: 10px;
    }
    p {
        color: $shadowColor;
        text-transform: uppercase;
        padding-bottom: 10px;
        font-size: 18px;
    }
    }
}

.stu-contact {
    border-top: 1px solid $shadowColor;
    @include flexCenter();
    text-align: center;
    height: 70px;
    background-color: $primaryColor;
    color: $white;
    font-size: 21px;
}